<div class="subscribe">
<form
    action="https://buttondown.email/api/emails/embed-subscribe/FoldedWeekly"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/FoldedWeekly', 'popupwindow')"
    class="embeddable-buttondown-form"
    >
<!--    <label for="bd-email">Enter your email</label>-->
    <input type="email" name="email" id="bd-email" placeholder="Enter your email"/>
    <input type="submit" value="Subscribe" />
    <p>
    <a href="https://buttondown.email" target="_blank" id="bd-link">Powered by Buttondown</a>
    </p>
</form>
</div>
