input[type="submit"] {
    display: block;
    width: 100%;
    background: var(--color);
    border: 0;
    border-radius: 0.25em;
    color: #fff;
    outline: 0;
    padding: 0.75em 1em;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 0.5em;
}

input[type="email"] {
    background-color: white;
    border: 1px solid #ced3d9;
    border-radius: var(--radius);
    display: block;
    padding: 0.75em 1em;
    width: 100%;
    margin-bottom: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4em;
}

.subscribe {
    background: var(--code-bg);
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 2em;
    border-radius: var(--radius);
    /*border: 1px solid var(--border);*/
    text-align: center;
}
.dark .subscribe {
    background: var(--entry);
}

a#bd-link {
    font-size: 70%;
    box-shadow: 0 1px 0;
}